apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argo-app-prad
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/PradPersonal/ArgoCD-Practice
    targetRevision: HEAD
    path: k8s-manifest
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd-prad 
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
